---
extends: default

rules:
  line-length:
    max: 180
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .github/stale.yml
