---
- name: Ensure MAS is installed.
  homebrew:
    name: mas
    state: present

- name: Get MAS account status
  command: '"{{ mas_path }}" account'
  register: mas_account_result
  failed_when: mas_account_result.rc > 1
  check_mode: false
  changed_when: false
  when:
    - ansible_facts.distribution_version is version('12', '<')

- name: Sign in to MAS when email and password are provided.
  command: '"{{ mas_path }}" signin "{{ mas_email }}" "{{ mas_password }}"'
  register: mas_signin_result
  when:
    - ansible_facts.distribution_version is version('10.13', '<')
    - mas_account_result.rc == 1
    - mas_email is truthy
    - mas_password is truthy
    - not mas_signin_dialog

- name: Sign in to MAS when email is provided, and complete password and 2FA using dialog.
  command: '"{{ mas_path }}" signin "{{ mas_email }}" "{{ mas_password }}" --dialog'
  register: mas_signin_result
  when:
    - ansible_facts.distribution_version is version('10.13', '<')
    - mas_signin_dialog
    - mas_account_result.rc == 1
    - mas_email is truthy

# - name: List installed MAS apps.
#   command: '"{{ mas_path }}" list'
#   register: mas_list
#   check_mode: false
#   changed_when: false
#   failed_when: mas_list.rc not in [0,1]

- name: Ensure unwanted MAS apps are uninstalled.
  become: true
  environment:
    PATH: "{{ mas_path | dirname }}:{{ ansible_facts.env.PATH }}"
  community.general.mas:
    id: "{{ item.id | default(item) }}"
    state: absent
  loop: "{{ mas_uninstalled_apps }}"
  loop_control:
    label: "{{ item.name | default(item.id | default(item)) }}"

- name: Ensure configured MAS apps are installed.
  become: true
  environment:
    PATH: "{{ mas_path | dirname }}:{{ ansible_facts.env.PATH }}"
  community.general.mas:
    id: "{{ item.id | default(item) }}"
    state: present
  loop: "{{ mas_installed_apps + mas_installed_app_ids }}"
  loop_control:
    label: "{{ item.name | default(item.id | default(item)) }}"

- name: Upgrade all apps (if configured).
  become: true
  environment:
    PATH: "{{ mas_path | dirname }}:{{ ansible_facts.env.PATH }}"
  community.general.mas:
    upgrade_all: true
  when: mas_upgrade_all_apps
